header {
padding: 10px;
background-color: #f3aae9;
text-align: center;
color: rgb(253, 249, 249);
font-family: Lexend; font-size:14px;
}
body {
    font-family: Lexend; font-size:14px;
    text-decoration: none
}
nav {
background-color: #facbf0;
padding: 10px;
text-decoration: none;
}
nav li a{
display: inline;
list-style-type: none;
margin-right: 10px;
text-decoration: none;
}
.konten {
width: 35%;
height: 150px;
margin: auto;
padding: 0;
}
.konten1 {
text-align: center;
float: left;
width: 15%;
height: 2850px;
padding: 0;
background-color: rgb(239, 213, 241);
font-family: 'Aoboshi One';font-size: 22px;
}
.konten2 {
text-align: center;
float: right;
width: 85%;
height: 2750px;
padding: 0;
background: linear-gradient(135deg, #fafafa 0%, #e0e0e0 100%);
}
h1{
    text-align: center;
}
footer {
    background-color: rgb(222, 162, 230);
    padding: 5px;
    text-align: CENTER;
    
}
.epan a{
    text-decoration: none;
    cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 25px;
  color: white;
  border: none;
}
.epan a:hover {
     transform: translateY(4px);
  box-shadow: 0 10px 20px rgba(228, 84, 84, 0.4);
}
.boxkonten2 {
    margin: 20px 0;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px 3px rgb(209, 101, 173);
    transition: border-color 1s, box-shadow 0.3s, transform 1s;
}
.boxkonten2:hover {
    border-color: rgb(249, 248, 246);
    box-shadow: 0 4px 8px rgb(69, 70, 70);
    transform: translateY(-3px);
}
.boxkonten h3 {
    padding: 2px;
    margin: 2px;
}